<script lang="ts">
    import Base from './Base.svelte'
</script>

<div>
    <Base>
        <path
            d="M25.6208 4.42987C25.6098 4.41816 25.6065 4.4026 25.5951 4.39116C25.5837 4.37972 25.5678 4.37624 25.556 4.36518C22.7515 1.56972 18.9533 0 14.9935 0C11.0337 0 7.23546 1.56972 4.43097 4.36518C4.41917 4.37624 4.40343 4.37963 4.3919 4.39116C4.38037 4.40269 4.37716 4.41815 4.36619 4.42987C2.27648 6.52959 0.855604 9.20129 0.282882 12.1078C-0.28984 15.0143 0.0112619 18.0253 1.14819 20.7608C2.28511 23.4963 4.2069 25.8338 6.67101 27.4781C9.13513 29.1225 12.0311 30 14.9935 30C17.9559 30 20.8519 29.1225 23.316 27.4781C25.7801 25.8338 27.7019 23.4963 28.8388 20.7608C29.9757 18.0253 30.2768 15.0143 29.7041 12.1078C29.1314 9.20129 27.7105 6.52959 25.6208 4.42987ZM14.9934 26.9883C13.1976 26.9877 11.4249 26.5831 9.80667 25.8045C8.18843 25.0259 6.76608 23.8931 5.64498 22.4902H11.6653C12.0822 22.9616 12.5945 23.339 13.1683 23.5975C13.742 23.8559 14.3641 23.9896 14.9934 23.9896C15.6227 23.9896 16.2448 23.8559 16.8186 23.5975C17.3923 23.339 17.9046 22.9616 18.3216 22.4902H24.3419C23.2208 23.8932 21.7985 25.0259 20.1802 25.8045C18.562 26.5831 16.7893 26.9877 14.9934 26.9883ZM13.4941 19.4915C13.4941 19.195 13.582 18.9051 13.7468 18.6586C13.9115 18.412 14.1457 18.2198 14.4197 18.1063C14.6936 17.9928 14.9951 17.9632 15.2859 18.021C15.5768 18.0789 15.8439 18.2217 16.0536 18.4313C16.2633 18.641 16.4061 18.9082 16.464 19.199C16.5218 19.4899 16.4921 19.7914 16.3786 20.0653C16.2652 20.3393 16.073 20.5735 15.8264 20.7382C15.5799 20.903 15.29 20.9909 14.9934 20.9909C14.5959 20.9905 14.2148 20.8324 13.9337 20.5513C13.6526 20.2702 13.4945 19.8891 13.4941 19.4915ZM26.1039 19.4947L26.0885 19.4915H19.4915C19.4886 18.5644 19.1988 17.6608 18.6619 16.9049C18.125 16.149 17.3673 15.5778 16.4928 15.2698V10.4954C16.4928 10.0978 16.3348 9.71643 16.0536 9.43525C15.7724 9.15406 15.3911 8.9961 14.9934 8.9961C14.5958 8.9961 14.2144 9.15406 13.9332 9.43525C13.652 9.71643 13.4941 10.0978 13.4941 10.4954V15.2698C12.6196 15.5778 11.8618 16.149 11.3249 16.9049C10.788 17.6608 10.4982 18.5644 10.4954 19.4915H3.89839L3.88292 19.4947C3.49293 18.5324 3.23065 17.5232 3.10278 16.4928H4.49798C4.89563 16.4928 5.277 16.3349 5.55818 16.0537C5.83936 15.7725 5.99733 15.3911 5.99733 14.9935C5.99733 14.5958 5.83936 14.2145 5.55818 13.9333C5.277 13.6521 4.89563 13.4941 4.49798 13.4941H3.10278C3.37069 11.3629 4.20943 9.34368 5.53034 7.64985L6.512 8.63152C6.65121 8.77073 6.81648 8.88116 6.99837 8.9565C7.18026 9.03184 7.37521 9.07061 7.57209 9.07061C7.76896 9.07061 7.96391 9.03184 8.1458 8.95649C8.32769 8.88115 8.49296 8.77072 8.63218 8.63151C8.77139 8.49229 8.88182 8.32702 8.95716 8.14513C9.0325 7.96324 9.07128 7.76829 9.07127 7.57142C9.07127 7.37454 9.0325 7.17959 8.95715 6.9977C8.88181 6.81581 8.77138 6.65054 8.63217 6.51133L7.6506 5.52977C9.34431 4.20929 11.3632 3.37079 13.4941 3.10284V4.49805C13.4941 4.8957 13.652 5.27707 13.9332 5.55825C14.2144 5.83943 14.5958 5.9974 14.9934 5.9974C15.3911 5.9974 15.7724 5.83943 16.0536 5.55825C16.3348 5.27707 16.4928 4.8957 16.4928 4.49805V3.10284C18.6236 3.37079 20.6425 4.20929 22.3363 5.52977L21.3547 6.51133C21.0735 6.79248 20.9156 7.17381 20.9156 7.57142C20.9156 7.96903 21.0735 8.35035 21.3547 8.63151C21.6358 8.91266 22.0172 9.07061 22.4148 9.07061C22.8124 9.07062 23.1937 8.91267 23.4749 8.63152L24.4565 7.64985C25.7774 9.34368 26.6162 11.3629 26.8841 13.4941H25.4889C25.0912 13.4941 24.7099 13.6521 24.4287 13.9333C24.1475 14.2145 23.9895 14.5958 23.9895 14.9935C23.9895 15.3911 24.1475 15.7725 24.4287 16.0537C24.7099 16.3349 25.0912 16.4928 25.4889 16.4928H26.8841C26.7562 17.5232 26.4939 18.5324 26.1039 19.4947Z"
        />
    </Base>
</div>

<style lang="postcss">
    div {
        @apply p-4 bg-blue text-white rounded;
    }
</style>
