<script lang="ts">
    import Base from './Base.svelte'
</script>

<div>
    <Base viewBox="0 0 20 22">
        <path
            d="M9 12C8.80222 12 8.60888 12.0586 8.44443 12.1685C8.27998 12.2784 8.15181 12.4346 8.07612 12.6173C8.00043 12.8 7.98063 13.0011 8.01921 13.1951C8.0578 13.3891 8.15304 13.5673 8.29289 13.7071C8.43275 13.847 8.61093 13.9422 8.80491 13.9808C8.99889 14.0194 9.19996 13.9996 9.38268 13.9239C9.56541 13.8482 9.72159 13.72 9.83147 13.5556C9.94135 13.3911 10 13.1978 10 13C10 12.7348 9.89464 12.4804 9.70711 12.2929C9.51957 12.1054 9.26522 12 9 12ZM5 12C4.80222 12 4.60888 12.0586 4.44443 12.1685C4.27998 12.2784 4.15181 12.4346 4.07612 12.6173C4.00043 12.8 3.98063 13.0011 4.01921 13.1951C4.0578 13.3891 4.15304 13.5673 4.29289 13.7071C4.43275 13.847 4.61093 13.9422 4.80491 13.9808C4.99889 14.0194 5.19996 13.9996 5.38268 13.9239C5.56541 13.8482 5.72159 13.72 5.83147 13.5556C5.94135 13.3911 6 13.1978 6 13C6 12.7348 5.89464 12.4804 5.70711 12.2929C5.51957 12.1054 5.26522 12 5 12ZM20 3C20 2.20435 19.6839 1.44129 19.1213 0.87868C18.5587 0.31607 17.7956 0 17 0H3C2.20435 0 1.44129 0.31607 0.87868 0.87868C0.316071 1.44129 0 2.20435 0 3V7C0.00441061 7.74005 0.282211 8.45236 0.78 9C0.282211 9.54764 0.00441061 10.2599 0 11V15C0 15.7956 0.316071 16.5587 0.87868 17.1213C1.44129 17.6839 2.20435 18 3 18H9V20H1C0.734784 20 0.48043 20.1054 0.292893 20.2929C0.105357 20.4804 0 20.7348 0 21C0 21.2652 0.105357 21.5196 0.292893 21.7071C0.48043 21.8946 0.734784 22 1 22H19C19.2652 22 19.5196 21.8946 19.7071 21.7071C19.8946 21.5196 20 21.2652 20 21C20 20.7348 19.8946 20.4804 19.7071 20.2929C19.5196 20.1054 19.2652 20 19 20H11V18H17C17.7956 18 18.5587 17.6839 19.1213 17.1213C19.6839 16.5587 20 15.7956 20 15V11C19.9956 10.2599 19.7178 9.54764 19.22 9C19.7178 8.45236 19.9956 7.74005 20 7V3ZM18 15C18 15.2652 17.8946 15.5196 17.7071 15.7071C17.5196 15.8946 17.2652 16 17 16H3C2.73478 16 2.48043 15.8946 2.29289 15.7071C2.10536 15.5196 2 15.2652 2 15V11C2 10.7348 2.10536 10.4804 2.29289 10.2929C2.48043 10.1054 2.73478 10 3 10H17C17.2652 10 17.5196 10.1054 17.7071 10.2929C17.8946 10.4804 18 10.7348 18 11V15ZM18 7C18 7.26522 17.8946 7.51957 17.7071 7.70711C17.5196 7.89464 17.2652 8 17 8H3C2.73478 8 2.48043 7.89464 2.29289 7.70711C2.10536 7.51957 2 7.26522 2 7V3C2 2.73478 2.10536 2.48043 2.29289 2.29289C2.48043 2.10536 2.73478 2 3 2H17C17.2652 2 17.5196 2.10536 17.7071 2.29289C17.8946 2.48043 18 2.73478 18 3V7ZM9 4C8.80222 4 8.60888 4.05865 8.44443 4.16853C8.27998 4.27841 8.15181 4.43459 8.07612 4.61732C8.00043 4.80004 7.98063 5.00111 8.01921 5.19509C8.0578 5.38907 8.15304 5.56725 8.29289 5.70711C8.43275 5.84696 8.61093 5.9422 8.80491 5.98079C8.99889 6.01937 9.19996 5.99957 9.38268 5.92388C9.56541 5.84819 9.72159 5.72002 9.83147 5.55557C9.94135 5.39112 10 5.19778 10 5C10 4.73478 9.89464 4.48043 9.70711 4.29289C9.51957 4.10536 9.26522 4 9 4ZM5 4C4.80222 4 4.60888 4.05865 4.44443 4.16853C4.27998 4.27841 4.15181 4.43459 4.07612 4.61732C4.00043 4.80004 3.98063 5.00111 4.01921 5.19509C4.0578 5.38907 4.15304 5.56725 4.29289 5.70711C4.43275 5.84696 4.61093 5.9422 4.80491 5.98079C4.99889 6.01937 5.19996 5.99957 5.38268 5.92388C5.56541 5.84819 5.72159 5.72002 5.83147 5.55557C5.94135 5.39112 6 5.19778 6 5C6 4.73478 5.89464 4.48043 5.70711 4.29289C5.51957 4.10536 5.26522 4 5 4Z"
        />
    </Base>
</div>

<style lang="postcss">
    div {
        @apply p-4 bg-beige-light text-blue rounded;
    }
</style>
