<script lang="ts">
    import Base from './Base.svelte'
</script>

<div>
    <Base viewBox="0 0 20 16">
        <path
            d="M19.7954 7.4855L15.1704 2.58547C14.8861 2.28398 14.4116 2.27023 14.1101 2.55472C13.8091 2.83898 13.7951 3.31371 14.0796 3.61496L18.2189 7.99999L14.0796 12.3855C13.7951 12.6868 13.8091 13.1613 14.1101 13.4458C14.2551 13.5825 14.4404 13.6503 14.6249 13.6503C14.8242 13.6503 15.0232 13.5713 15.1704 13.4155L19.7955 8.51523C20.0682 8.22601 20.0682 7.77448 19.7954 7.4855Z"
        />
        <path
            d="M5.92056 12.3853L1.78155 8.00005L5.92056 3.61479C6.20482 3.31354 6.19107 2.83877 5.88982 2.55455C5.5888 2.27029 5.1138 2.28404 4.82958 2.58529L0.204552 7.48532C-0.068184 7.77431 -0.068184 8.22607 0.204552 8.51509L4.82981 13.4154C4.97731 13.5716 5.17607 13.6504 5.37532 13.6504C5.55982 13.6504 5.74509 13.5823 5.88982 13.4456C6.19134 13.1613 6.20482 12.6866 5.92056 12.3853Z"
        />
        <path
            d="M11.2134 0.0584963C10.8041 -0.00349624 10.4211 0.277482 10.3586 0.686742L8.15859 15.0868C8.09609 15.4963 8.37735 15.8791 8.78684 15.9416C8.82536 15.9473 8.86333 15.9501 8.9011 15.9501C9.26536 15.9501 9.58486 15.6844 9.64161 15.3134L11.8416 0.913267C11.9041 0.503733 11.6229 0.120997 11.2134 0.0584963Z"
        />
    </Base>
</div>

<style lang="postcss">
    div {
        @apply p-4 bg-beige-light text-orange rounded;
    }
</style>
