<script lang="ts">
    import Back from './Back.svelte'
    import Base from './Base.svelte'
    import Bienveillance from './Bienveillance.svelte'
    import Design from './Design.svelte'
    import Devops from './Devops.svelte'
    import Etique from './Etique.svelte'
    import Front from './Front.svelte'
    import Gitlab from './Gitlab.svelte'
    import Integrity from './Integrity.svelte'
    import Linkedin from './Linkedin.svelte'
    import Localisation from './Localisation.svelte'
    import Mail from './Mail.svelte'
    import Other from './Other.svelte'
    import Accessibility from './Accessibility.svelte'
    import Equity from './Equity.svelte'

    export let name
</script>

{#if !name}
    <Base>
        <slot />
    </Base>
{:else if name === 'bienveillance'}
    <Bienveillance />
{:else if name === 'intégrité'}
    <Integrity />
{:else if name === 'étique'}
    <Etique />
{:else if name === 'accessibilité'}
    <Accessibility />
{:else if name === 'équité'}
    <Equity />
{:else if name === 'back'}
    <Back />
{:else if name === 'front'}
    <Front />
{:else if name === 'devops'}
    <Devops />
{:else if name === 'design'}
    <Design />
{:else if name === 'other'}
    <Other />
{:else if name === 'linkedin'}
    <Linkedin />
{:else if name === 'gitlab'}
    <Gitlab />
{:else if name === 'mail'}
    <Mail />
{:else if name === 'localisation'}
    <Localisation />
{/if}
