<script lang="ts">
    import Base from './Base.svelte'
</script>

<div>
    <Base>
        <path
            d="M27.6146 0.000209743H2.20497C1.91934 -0.00375713 1.63573 0.0485803 1.37033 0.154233C1.10493 0.259886 0.862943 0.416785 0.658187 0.615969C0.453431 0.815153 0.289918 1.05272 0.176985 1.31511C0.0640527 1.57749 0.00391254 1.85955 0 2.14518V27.8548C0.00391254 28.1404 0.0640527 28.4225 0.176985 28.6849C0.289918 28.9473 0.453431 29.1848 0.658187 29.384C0.862943 29.5832 1.10493 29.7401 1.37033 29.8458C1.63573 29.9514 1.91934 30.0038 2.20497 29.9998H27.6146C27.9002 30.0038 28.1839 29.9514 28.4493 29.8458C28.7147 29.7401 28.9566 29.5832 29.1614 29.384C29.3662 29.1848 29.5297 28.9473 29.6426 28.6849C29.7555 28.4225 29.8157 28.1404 29.8196 27.8548V2.14518C29.8157 1.85955 29.7555 1.57749 29.6426 1.31511C29.5297 1.05272 29.3662 0.815153 29.1614 0.615969C28.9566 0.416785 28.7147 0.259886 28.4493 0.154233C28.1839 0.0485803 27.9002 -0.00375713 27.6146 0.000209743V0.000209743ZM9.04487 25.1099H4.54494V11.61H9.04487V25.1099ZM6.79491 9.72007C6.17431 9.72007 5.57913 9.47354 5.1403 9.03471C4.70147 8.59588 4.45494 8.0007 4.45494 7.38011C4.45494 6.75951 4.70147 6.16433 5.1403 5.7255C5.57913 5.28667 6.17431 5.04014 6.79491 5.04014C7.12444 5.00277 7.45816 5.03542 7.7742 5.13596C8.09025 5.23651 8.38149 5.40267 8.62886 5.62357C8.87624 5.84448 9.07416 6.11514 9.20968 6.41784C9.34519 6.72054 9.41525 7.04846 9.41525 7.38011C9.41525 7.71176 9.34519 8.03967 9.20968 8.34237C9.07416 8.64507 8.87624 8.91573 8.62886 9.13664C8.38149 9.35754 8.09025 9.52371 7.7742 9.62425C7.45816 9.72479 7.12444 9.75745 6.79491 9.72007V9.72007ZM25.2746 25.1099H20.7747V17.865C20.7747 16.05 20.1297 14.865 18.4947 14.865C17.9887 14.8687 17.496 15.0274 17.083 15.3198C16.67 15.6121 16.3565 16.024 16.1848 16.5C16.0674 16.8525 16.0165 17.2238 16.0348 17.595V25.0949H11.5348C11.5348 25.0949 11.5348 12.825 11.5348 11.595H16.0348V13.5C16.4436 12.7907 17.0381 12.2063 17.7544 11.8098C18.4707 11.4134 19.2816 11.2198 20.0997 11.2501C23.0997 11.2501 25.2746 13.185 25.2746 17.34V25.1099Z"
        />
    </Base>
</div>

<style lang="postcss">
    div {
        @apply p-4 bg-blue-dark text-white rounded;
    }
</style>
