<script lang="ts">
    import Base from './Base.svelte'
</script>

<div>
    <Base viewBox="0 0 30 24">
        <path
            d="M25.5 0H4.5C3.30653 0 2.16193 0.474106 1.31802 1.31802C0.474106 2.16193 0 3.30653 0 4.5V19.5C0 20.6935 0.474106 21.8381 1.31802 22.682C2.16193 23.5259 3.30653 24 4.5 24H25.5C26.6935 24 27.8381 23.5259 28.682 22.682C29.5259 21.8381 30 20.6935 30 19.5V4.5C30 3.30653 29.5259 2.16193 28.682 1.31802C27.8381 0.474106 26.6935 0 25.5 0ZM4.5 3H25.5C25.8978 3 26.2794 3.15804 26.5607 3.43934C26.842 3.72064 27 4.10218 27 4.5L15 11.82L3 4.5C3 4.10218 3.15804 3.72064 3.43934 3.43934C3.72064 3.15804 4.10218 3 4.5 3ZM27 19.5C27 19.8978 26.842 20.2794 26.5607 20.5607C26.2794 20.842 25.8978 21 25.5 21H4.5C4.10218 21 3.72064 20.842 3.43934 20.5607C3.15804 20.2794 3 19.8978 3 19.5V7.92L14.22 14.775C14.448 14.9067 14.7067 14.976 14.97 14.976C15.2333 14.976 15.492 14.9067 15.72 14.775L27 7.92V19.5Z"
        />
    </Base>
</div>

<style lang="postcss">
    div {
        @apply p-4 bg-blue text-white rounded flex items-center;
    }
</style>
