<script lang="ts">
    import { sendMail } from 'lib/mail'
    import { person } from 'lib/person'
    import Icon from './Icon/Icon.svelte'
    import { stores } from '@sapper/app'

    const { session } = stores()
    const { API_URL } = $session
</script>

<footer id="contact">
    <div class="container">
        <h2>Interressé.e de travailler ensemble ?</h2>
        <form on:submit|preventDefault={sendMail}>
            <input type="text" placeholder="Nom" name="name" />
            <input type="email" placeholder="Mail" name="email" />
            <textarea name="content" rows="4" cols="50" placeholder="Message" />
            <button>Envoyer</button>
        </form>
        <div id="divide" />
        <div class="links">
            <div class="reseaux">
                <a href={$person.linkedin}>
                    <Icon name="linkedin" />
                </a>
                <a href={$person.git}>
                    <Icon name="gitlab" />
                </a>
                <a href="mailto:{$person.email}">
                    <Icon name="mail" />
                </a>
            </div>
            <div class="who">
                <img
                    src={`${API_URL}${$person.profil.url}`}
                    alt={$person.profil.alternativeText}
                />
                <div id="me">
                    <p id="name">
                        {$person.firstname}
                        {$person.lastname}
                    </p>
                    <Icon name="localisation" />
                    <p id="city">{$person.city}</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<style lang="postcss">
    footer {
        @apply bg-beige-light;
    }
    .container {
        @apply py-16 px-8 grid gap-x-24;
        grid-template-columns: 1fr 0.25rem 1fr;

        h2 {
            @apply col-span-3 justify-self-center mb-8 text-h3 font-bold;
        }

        form {
            @apply flex flex-col space-y-6 w-full;

            input,
            textarea {
                @apply border-2 border-beige rounded px-4 py-3;
            }

            button {
                @apply px-6 py-4 bg-orange text-white text-amphase rounded self-start;
            }
        }

        .links {
            .reseaux {
                @apply flex space-x-12;
            }

            .who {
                @apply flex mt-6;

                img {
                    @apply rounded-full w-40 h-40 justify-self-end object-cover mr-6;
                }

                #me {
                    @apply flex items-center flex-wrap content-center;
                    #city {
                        @apply ml-2;
                    }
                    #name {
                        @apply w-full capitalize text-amphase font-bold;
                    }
                }
            }
        }

        #divide {
            @apply h-full bg-beige w-1 rounded;
            content: '';
        }
    }
</style>
