<script lang="ts">
    import { person } from 'lib/person'
    import { stores } from '@sapper/app'
    const { session } = stores()
    const { API_URL } = $session

    const getClass = (index: number): string => {
        if (index === 0 || index === 5) return 'first'
        if (index === 1 || index === 3) return 'second'
        if (index === 2 || index === 4) return 'third'
    }
</script>

<section id="projects">
    <h2>Projects</h2>
    {#each $person.projects as project, index}
        <div
            class="project"
            style={`background-image: url("${API_URL}${
                project.cover.url
            }");background-size: cover;`}
        >
            <div class="title">
                <h3>{project.title}</h3>
                <div class={`calque ${getClass(index)}`} />
            </div>
            <div class={`overlay  ${getClass(index)}`}>
                <p>{project.description}</p>
                <a href={`project/${project.title}`} class="button"
                    >Voir le détails</a
                >
            </div>
        </div>
    {/each}
</section>

<style lang="postcss">
    #projects {
        @apply grid grid-cols-1 md:grid-cols-3 px-8 gap-10 text-center py-16 container;

        h2 {
            @apply sr-only;
        }

        .project {
            @apply w-full h-60 rounded;

            .title {
                @apply h-full w-full relative transition-opacity ease-out duration-500;

                h3 {
                    @apply w-full h-full text-white text-h2 font-bold relative z-10 flex items-center justify-center;
                }
                .calque {
                    @apply w-full h-full rounded opacity-80 block relative -top-60;

                    content: '';

                    &.first {
                        background: linear-gradient(
                            180deg,
                            #3a808a 0%,
                            #e4ddca 100%
                        );
                    }
                    &.second {
                        background: linear-gradient(
                            180deg,
                            #e4ddca 0%,
                            #ffa432 100%
                        );
                    }
                    &.third {
                        background: linear-gradient(
                            180deg,
                            #ffa432 0%,
                            #284e5b 100%
                        );
                    }
                }
            }
            .overlay {
                @apply h-full w-full rounded relative -top-60 transition-opacity ease-out duration-500 opacity-0 grid gap-2 p-2;

                &.first {
                    background: linear-gradient(
                        180deg,
                        #e4ddca 0%,
                        #3a808a 100%
                    );
                }
                &.second {
                    background: linear-gradient(
                        180deg,
                        #ffa432 0%,
                        #e4ddca 100%
                    );
                }
                &.third {
                    background: linear-gradient(
                        180deg,
                        #284e5b 0%,
                        #ffa432 100%
                    );
                }

                p {
                    @apply self-end text-p text-white max-h-full overflow-hidden;
                }

                .button {
                    @apply self-start justify-self-center text-amphase text-white border-2 border-white px-6 py-4 rounded block;

                    &:hover {
                        @apply bg-white text-black;
                    }
                }
            }

            &:hover {
                .title {
                    @apply transition-opacity ease-out duration-500 opacity-0;
                }
                .overlay {
                    @apply transition-opacity ease-out duration-500 opacity-100;
                }
            }
        }
    }
</style>
