<script lang="ts">
    import type Image from "models/values/Image";
    import { stores } from '@sapper/app'

    const { session } = stores()
    const {API_URL} = $session

    export let imgs: Image[] = []
    
    let top = 0
    let bottom = 2

    let selected: Image = imgs[0]
    $: prompted = imgs.slice(top, bottom)

    const select = (id: string):void => {
        selected = imgs.find((image:Image) => image.id === id)
    }

    const up = (): void => {
        top++
        bottom++
    }
    const down = (): void => {
        bottom--
        top--
    }
</script>

<div class="images">
    <img
        src={`${API_URL}${selected.url}`}
        alt={selected.alternativeText}
        class="selected"
    />
    <div
        class="slider"
        class:first={top === 0}
        class:center={top !== 0 && bottom <= imgs.length}
        class:last={bottom > imgs.length}
    >
        {#if top !== 0}
            <button on:click={down}>
                <svg
                    width="11"
                    height="19"
                    viewBox="0 0 11 19"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M0.497103 10.5984L7.8547 17.943C7.97555 18.0648 8.11932 18.1615 8.27773 18.2275C8.43614 18.2935 8.60605 18.3275 8.77765 18.3275C8.94926 18.3275 9.11917 18.2935 9.27758 18.2275C9.43598 18.1615 9.57976 18.0648 9.7006 17.943C9.94272 17.6994 10.0786 17.37 10.0786 17.0265C10.0786 16.6831 9.94272 16.3537 9.7006 16.1101L3.26595 9.61045L9.7006 3.1758C9.94272 2.93224 10.0786 2.60277 10.0786 2.25935C10.0786 1.91593 9.94272 1.58646 9.70061 1.3429C9.58021 1.22007 9.43664 1.12235 9.27821 1.05541C9.11978 0.98847 8.94965 0.953635 8.77766 0.952921C8.60567 0.953635 8.43553 0.98847 8.2771 1.05541C8.11867 1.12235 7.9751 1.22007 7.85471 1.3429L0.497104 8.6875C0.365154 8.80923 0.259849 8.95697 0.187823 9.12141C0.115798 9.28585 0.0786141 9.46342 0.078614 9.64295C0.078614 9.82247 0.115797 10 0.187823 10.1645C0.259849 10.3289 0.365154 10.4767 0.497103 10.5984Z"
                        fill="black"
                    />
                </svg>
            </button>
        {/if}
        {#each prompted as image}
            <img
                src={`${API_URL}${image.url}`}
                alt={image.alternativeText}
                aria-selected={selected.id === image.id}
                on:click={() => select(image.id)}
            />
        {/each}
        {#if bottom < imgs.length}
            <button on:click={up}>
                <svg
                    width="11"
                    height="19"
                    viewBox="0 0 11 19"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M9.66012 8.68206L2.30252 1.33746C2.18168 1.21562 2.0379 1.11891 1.8795 1.05292C1.72109 0.98692 1.55118 0.952942 1.37957 0.952942C1.20797 0.952942 1.03806 0.98692 0.87965 1.05292C0.721242 1.11891 0.577468 1.21562 0.456623 1.33746C0.21451 1.58102 0.0786133 1.91049 0.0786133 2.25391C0.0786133 2.59733 0.21451 2.9268 0.456623 3.17036L6.89127 9.67001L0.456623 16.1047C0.21451 16.3482 0.0786133 16.6777 0.0786133 17.0211C0.0786133 17.3645 0.21451 17.694 0.456623 17.9376C0.577016 18.0604 0.720586 18.1581 0.879016 18.225C1.03744 18.292 1.20758 18.3268 1.37957 18.3275C1.55156 18.3268 1.7217 18.292 1.88013 18.225C2.03856 18.1581 2.18213 18.0604 2.30252 17.9376L9.66012 10.593C9.79207 10.4712 9.89738 10.3235 9.9694 10.159C10.0414 9.99461 10.0786 9.81703 10.0786 9.63751C10.0786 9.45799 10.0414 9.28041 9.9694 9.11597C9.89738 8.95153 9.79207 8.80379 9.66012 8.68206V8.68206Z"
                        fill="black"
                    />
                </svg>
            </button>
        {/if}
    </div>
</div>

<style lang="postcss">
    .images {
        .selected {
            @apply object-contain w-full mb-8 rounded;

            height: 26rem;
        }

        .slider {
            @apply grid gap-3 items-center;
            &.first {
                grid-template-columns: 1fr 1fr 10px;
            }
            &.center {
                grid-template-columns: 10px 1fr 1fr 10px;
            }
            &.last {
                grid-template-columns: 10px 1fr 1fr;
            }

            img {
                @apply p-2 h-40 w-full object-cover rounded cursor-pointer opacity-60;

                &[aria-selected='true'] {
                    @apply opacity-100;
                }
            }

            button {
                @apply h-full w-full;

                svg {
                    @apply w-full;
                }
            }
        }
    }
</style>
