<script lang="ts">
    export let viewBox: string = '0 0 30 30'
</script>

<svg
    xmlns="http://www.w3.org/2000/svg"
    {viewBox}
    fill="current"
    stroke="current"
    width={viewBox.split(' ')[2]}
    height={viewBox.split(' ')[3]}
>
    <slot />
</svg>

<style lang="postcss">
    svg {
        @apply fill-current h-8 w-8 flex items-center;
    }
</style>
