<script lang="ts">
    import Base from './Base.svelte'
</script>

<div>
    <Base>
        <path
            d="M12 0C8.81737 0 5.76514 1.26428 3.51471 3.51471C1.26428 5.76514 0 8.81737 0 12C0 20.0999 10.575 29.2499 11.025 29.6399C11.2967 29.8723 11.6424 30 12 30C12.3575 30 12.7033 29.8723 12.975 29.6399C13.5 29.2499 23.9999 20.0999 23.9999 12C23.9999 8.81737 22.7356 5.76514 20.4852 3.51471C18.2348 1.26428 15.1825 0 12 0ZM12 26.4749C8.80497 23.4749 2.99999 17.0099 2.99999 12C2.99999 9.61302 3.9482 7.32384 5.63602 5.63602C7.32384 3.9482 9.61302 2.99999 12 2.99999C14.3869 2.99999 16.6761 3.9482 18.3639 5.63602C20.0517 7.32384 20.9999 9.61302 20.9999 12C20.9999 17.0099 15.195 23.4899 12 26.4749ZM12 5.99998C10.8133 5.99998 9.65324 6.35187 8.66655 7.01116C7.67986 7.67045 6.91083 8.60751 6.4567 9.70387C6.00258 10.8002 5.88376 12.0066 6.11527 13.1705C6.34678 14.3344 6.91822 15.4035 7.75733 16.2426C8.59645 17.0817 9.66554 17.6531 10.8294 17.8847C11.9933 18.1162 13.1997 17.9973 14.2961 17.5432C15.3924 17.0891 16.3295 16.3201 16.9888 15.3334C17.648 14.3467 17.9999 13.1866 17.9999 12C17.9999 10.4087 17.3678 8.88255 16.2426 7.75733C15.1174 6.63212 13.5913 5.99998 12 5.99998ZM12 15C11.4066 15 10.8266 14.824 10.3333 14.4944C9.83991 14.1647 9.45539 13.6962 9.22833 13.148C9.00127 12.5998 8.94186 11.9966 9.05761 11.4147C9.17337 10.8328 9.45909 10.2982 9.87865 9.87865C10.2982 9.45909 10.8328 9.17337 11.4147 9.05761C11.9966 8.94186 12.5998 9.00127 13.148 9.22833C13.6962 9.45539 14.1647 9.83991 14.4944 10.3333C14.824 10.8266 15 11.4066 15 12C15 12.7956 14.6839 13.5587 14.1213 14.1213C13.5587 14.6839 12.7956 15 12 15Z"
        />
    </Base>
</div>

<style lang="postcss">
    div {
        @apply text-black inline;
    }
</style>
