<svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 45 45"
    fill="current"
    stroke="current"
>
    <path
        d="M28.7916 28.152C28.5895 27.9504 28.3203 27.8393 28.035 27.8397L18.4227 27.8577C17.8327 27.8589 17.3555 28.3379 17.3568 28.9278C17.3581 29.5178 17.837 29.995 18.427 29.9937L26.9691 29.9779V42.3615C25.5306 42.6841 24.0375 42.8635 22.4996 42.8635C16.8728 42.8631 11.7885 40.586 8.10038 36.8992C7.33097 36.1294 6.62692 35.2954 5.98781 34.4115L12.7309 34.3974C13.3209 34.3962 13.7981 33.9168 13.7968 33.3273C13.7955 32.7373 13.3166 32.2601 12.7267 32.2614L4.63526 32.278C3.04261 29.3764 2.13649 26.0463 2.13606 22.5C2.13649 18.3159 3.39506 14.4351 5.55547 11.2011C7.71631 7.96751 10.7794 5.38586 14.3817 3.81842C14.9225 3.58302 15.1703 2.95374 14.9349 2.41289C14.6995 1.87204 14.0702 1.62425 13.5294 1.85965C9.54692 3.59285 6.16638 6.44236 3.77955 10.0139C1.39271 13.5849 -0.000427114 17.8844 9.82263e-08 22.5C0.000854523 34.9268 10.0732 44.9991 22.5 45C24.5083 45 26.4577 44.7364 28.3127 44.2417C28.78 44.1169 29.1056 43.6936 29.1056 43.2096V28.9082C29.1051 28.6228 28.9936 28.3537 28.7916 28.152Z"
    />
    <path
        d="M27.9512 6.10786L25.681 6.1258C25.0911 6.1305 24.6168 6.61239 24.6215 7.20238C24.6262 7.79236 25.1081 8.26656 25.6981 8.26186L27.9683 8.24392C28.5583 8.23922 29.0325 7.75732 29.0278 7.16734C29.0231 6.57779 28.5412 6.10358 27.9512 6.10786Z"
    />
    <path
        d="M36.8334 11.9607L34.5632 11.9786C33.9732 11.9833 33.499 12.4652 33.5037 13.0552C33.5084 13.6452 33.9903 14.1194 34.5803 14.1147L36.8505 14.0967C37.4405 14.092 37.9147 13.6101 37.91 13.0202C37.9053 12.4306 37.4234 11.956 36.8334 11.9607Z"
    />
    <path
        d="M38.3718 6.55387C38.2915 6.4398 38.1894 6.34282 38.0719 6.26764C34.0292 2.38897 28.5455 0.000427213 22.5 0C21.7438 0 20.9962 0.0371675 20.2588 0.110221C19.6719 0.168322 19.2429 0.69123 19.301 1.27822C19.3591 1.86521 19.882 2.29413 20.469 2.23603C21.1368 2.16981 21.8139 2.13606 22.5 2.13606C27.0263 2.13649 31.2002 3.61208 34.5803 6.10786L31.6415 6.11683C31.0515 6.11854 30.5747 6.5983 30.5769 7.18828C30.5786 7.77826 31.0584 8.25503 31.6483 8.25289L37.0295 8.23666C39.5928 10.8486 41.4537 14.1424 42.3188 17.8237L33.4999 17.8404C32.9099 17.8417 32.4327 18.3206 32.434 18.9106C32.4353 19.5005 32.9142 19.9777 33.5041 19.9765L42.7003 19.9594C42.8041 20.792 42.8635 21.6387 42.8635 22.5C42.8635 22.8986 42.8486 23.2938 42.8259 23.6868L37.8989 23.7018C37.3089 23.7035 36.8321 24.1832 36.8343 24.7732C36.836 25.3632 37.3157 25.84 37.9057 25.8378L42.5841 25.8237C42.3731 27.1096 42.0424 28.3545 41.6024 29.5473L35.2237 29.5635C34.6337 29.5652 34.1569 30.0446 34.1582 30.6341C34.1595 31.2241 34.6392 31.7009 35.2288 31.6996L40.6689 31.6855C39.0882 34.8054 36.7352 37.4683 33.8493 39.4099C33.3597 39.7393 33.2299 40.4028 33.5593 40.8924C33.8886 41.3819 34.5521 41.5118 35.0417 41.1824C41.0462 37.1457 45 30.2808 45 22.4996C44.9991 16.2678 42.4649 10.6286 38.3718 6.55387Z"
    />
    <path
        d="M34.3432 23.6932L33.2081 23.7112C32.6185 23.7206 32.1477 24.2059 32.1571 24.7959C32.1665 25.3858 32.6518 25.8562 33.2418 25.8468L34.3769 25.8289C34.9665 25.8195 35.4373 25.3341 35.4279 24.7442C35.4189 24.1546 34.9331 23.6838 34.3432 23.6932Z"
    />
    <path
        d="M7.46298 26.7187L6.32788 26.7367C5.7379 26.7461 5.26754 27.2314 5.27694 27.8214C5.28634 28.4113 5.77165 28.8817 6.36163 28.8723L7.49673 28.8544C8.08671 28.845 8.55707 28.3597 8.54768 27.7697C8.53828 27.1801 8.05296 26.7093 7.46298 26.7187Z"
    />
    <path
        d="M14.5526 16.3763C15.5987 16.3763 16.4468 15.5282 16.4468 14.4821C16.4468 13.4359 15.5987 12.5878 14.5526 12.5878C13.5064 12.5878 12.6583 13.4359 12.6583 14.4821C12.6583 15.5282 13.5064 16.3763 14.5526 16.3763Z"
    />
    <path
        d="M18.5295 14.4821C18.5291 15.5834 18.086 16.5711 17.3645 17.294C16.6412 18.0151 15.6539 18.4581 14.5526 18.4586C13.4512 18.4581 12.4635 18.0151 11.7407 17.294C11.0195 16.5711 10.5765 15.5834 10.5757 14.4821C10.5761 13.3807 11.0191 12.393 11.7407 11.6702C12.4639 10.949 13.4512 10.506 14.5526 10.5056C15.6539 10.506 16.6416 10.949 17.3645 11.6702C18.0856 12.393 18.5286 13.3807 18.5295 14.4821H20.6656C20.6647 11.1054 17.9293 8.36995 14.5526 8.3691C11.1759 8.36995 8.44044 11.1054 8.43959 14.4821C8.44044 17.8588 11.1759 20.5942 14.5526 20.5951C17.9288 20.5942 20.6647 17.8588 20.6656 14.4821H18.5295Z"
    />
</svg>

<style lang="postcss">
    svg {
        @apply fill-current h-14 w-14 p-2 bg-orange text-white rounded;
    }
</style>
