---
import ButtonLink from "../ButtonLink.astro"
import SectionTitle from "../SectionTitle.astro"
import ArrowDownIcon from "../icons/ArrowDownIcon.astro"
import FluentIndexPointingLeftIcon from "../icons/FluentIndexPointingLeftIcon.astro"
import FluentGlowingStarIcon from "../icons/FluentGlowingStarIcon.astro"
import Tech, { TechFrontmatter } from "./Tech.astro"

const techs = (await Astro.glob("../../content/techs/*.md")).sort(
  (a, b) => a.frontmatter.order - b.frontmatter.order
)

const cvLink = ""
---

<div
  class="relative flex min-h-[100svh] w-[100dvw] flex-col items-center justify-between overflow-x-clip overflow-y-visible pb-6 pt-[2.7rem] before:content-[''] md:pt-[4.7rem]"
>
  <img
    id="blob-1"
    src="/blob-1.svg"
    class="absolute -left-[10dvw] -top-[10svh] -z-20 h-[80svh] min-h-[300px] w-[80svh] min-w-[300px] blur-[80px]"
  />
  <img
    id="blob-2"
    src="/blob-2.svg"
    class="absolute left-[50dvw] top-[50svh] -z-20 h-[50svh] min-h-[300px] w-[55svh] min-w-[300px] blur-[80px]"
  />
  <div
    class="container flex flex-col-reverse items-center justify-center gap-6 py-2 md:flex-row md:items-stretch md:justify-between md:gap-8"
  >
    <div class="flex flex-col justify-between gap-6 md:w-3/5 md:gap-12">
      <div class="flex flex-col justify-between gap-4 md:gap-8">
        <div>
          <h2 class="mb-2 text-2xl text-black-70 md:text-4xl">
            Guillaume Denier<span class="font-gradient">.</span>
          </h2>
          <div
            class="relative -left-3 z-10 w-full overflow-hidden rounded px-3 py-1"
          >
            <span
              id="title-highlight"
              class="absolute inset-y-0 -left-[calc(100%_+_8rem)] -z-10 block w-[calc(100%_+_8rem)] bg-white py-1"
            ></span>
            <h1
              class="text-3xl font-bold md:text-4xl lg:text-[2.5rem] xl:text-5xl"
            >
              Développeur Full Stack
            </h1>
          </div>
        </div>
        <p class="italic text-black-70">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor etiam
          lacus congue lacus, enim ultrices consequat. Pharetra vel varius et
          laoreet ultrices.
        </p>
        {
          cvLink ? (
            <ButtonLink href={cvLink} class="w-full md:w-fit">
              Télécharger mon CV <FluentIndexPointingLeftIcon class="h-6 w-6" />
            </ButtonLink>
          ) : null
        }
      </div>
      <div class="space-y-4 md:space-y-6">
        <SectionTitle>
          Mes techs favorites <FluentGlowingStarIcon class="h-6 w-6" />
        </SectionTitle>
        <div class="flex flex-wrap justify-between sm:gap-6 md:justify-start">
          {
            techs.map((tech) => (
              <Tech tech={tech.frontmatter as TechFrontmatter} />
            ))
          }
        </div>
      </div>
    </div>
    <!-- temporary bg waiting for good photo -->
    <div
      class="aspect-square max-w-[10rem] overflow-hidden rounded md:max-w-[50rem] md:flex-1"
    >
      <img
        src="https://images.unsplash.com/photo-1618641986557-1ecd230959aa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80"
        class="w-28 object-cover sm:w-48 md:h-full md:w-full"
      />
    </div>
  </div>
  <ArrowDownIcon class="animate-bounce" />
</div>

<style>
  .font-gradient {
    background: linear-gradient(134.17deg, #fd841f 5.04%, #9c2c77 94.09%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* @keyframes turn-around-right {
    from {
      transform: rotate(0deg) translate(500px);
    }
    to {
      transform: rotate(360deg) translate(500px);
    }
  }
  @keyframes turn-around-left {
    from {
      transform: rotate(180deg) translate(500px);
    }
    to {
      transform: rotate(540deg) translate(500px);
    }
  } */
  /* bg-[linear-gradient(134.17deg,rgba(253,132,31,0.4)_5.04%,rgba(156,44,119,0.4)_94.09%)] */

  /* #blob-1 {
    animation-name: turn-around-right;
    animation-duration: 35s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  #blob-2 {
    animation-name: turn-around-left;
    animation-duration: 35s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  } */

  .animate-width {
    transition: transform 1s ease-in-out 500ms;
    transform: translateX(calc(99% + 5px));
  }
</style>

<script>
  const title = document.getElementById("title-highlight")
  const observer = new IntersectionObserver((entries) => {
    if (window.innerWidth < 768) return
    entries[0].target.classList.toggle("animate-width")
  })
  if (title) observer.observe(title)
</script>
