---
import Contact from "../components/MainPage/Contact.astro"
import Hero from "../components/MainPage/Hero.astro"
import Jobs from "../components/MainPage/Jobs.astro"
import Projects from "../components/MainPage/Projects.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <div class="space-y-8 md:space-y-24">
    <Hero />
    <Jobs />
    <Projects />
    <Contact />
  </div>
</Layout>
