---
import Hero from "../components/Hero.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <Hero />
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error numquam
    ipsum, non doloribus exercitationem, ducimus pariatur enim cumque voluptatum
    minima libero natus eveniet maiores molestias adipisci soluta,
    necessitatibus ad ipsam.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error numquam
    ipsum, non doloribus exercitationem, ducimus pariatur enim cumque voluptatum
    minima libero natus eveniet maiores molestias adipisci soluta,
    necessitatibus ad ipsam.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error numquam
    ipsum, non doloribus exercitationem, ducimus pariatur enim cumque voluptatum
    minima libero natus eveniet maiores molestias adipisci soluta,
    necessitatibus ad ipsam.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error numquam
    ipsum, non doloribus exercitationem, ducimus pariatur enim cumque voluptatum
    minima libero natus eveniet maiores molestias adipisci soluta,
    necessitatibus ad ipsam.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error numquam
    ipsum, non doloribus exercitationem, ducimus pariatur enim cumque voluptatum
    minima libero natus eveniet maiores molestias adipisci soluta,
    necessitatibus ad ipsam.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error numquam
    ipsum, non doloribus exercitationem, ducimus pariatur enim cumque voluptatum
    minima libero natus eveniet maiores molestias adipisci soluta,
    necessitatibus ad ipsam.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error numquam
    ipsum, non doloribus exercitationem, ducimus pariatur enim cumque voluptatum
    minima libero natus eveniet maiores molestias adipisci soluta,
    necessitatibus ad ipsam.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error numquam
    ipsum, non doloribus exercitationem, ducimus pariatur enim cumque voluptatum
    minima libero natus eveniet maiores molestias adipisci soluta,
    necessitatibus ad ipsam.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error numquam
    ipsum, non doloribus exercitationem, ducimus pariatur enim cumque voluptatum
    minima libero natus eveniet maiores molestias adipisci soluta,
    necessitatibus ad ipsam.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error numquam
    ipsum, non doloribus exercitationem, ducimus pariatur enim cumque voluptatum
    minima libero natus eveniet maiores molestias adipisci soluta,
    necessitatibus ad ipsam.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error numquam
    ipsum, non doloribus exercitationem, ducimus pariatur enim cumque voluptatum
    minima libero natus eveniet maiores molestias adipisci soluta,
    necessitatibus ad ipsam.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error numquam
    ipsum, non doloribus exercitationem, ducimus pariatur enim cumque voluptatum
    minima libero natus eveniet maiores molestias adipisci soluta,
    necessitatibus ad ipsam.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error numquam
    ipsum, non doloribus exercitationem, ducimus pariatur enim cumque voluptatum
    minima libero natus eveniet maiores molestias adipisci soluta,
    necessitatibus ad ipsam.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error numquam
    ipsum, non doloribus exercitationem, ducimus pariatur enim cumque voluptatum
    minima libero natus eveniet maiores molestias adipisci soluta,
    necessitatibus ad ipsam.
  </p>
</Layout>
