<script context="module" lang="ts">
    import { person } from 'lib/person'
    import { plainToClass } from 'class-transformer'
    import Person from 'models/Person'

    export async function preload(req, session) {
        await this.fetch(`${session.API_URL}/graphql`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                query: `
                    query GetPeople($name: String) {
                        people(where: {firstname: $name}) {
                            firstname
                            lastname
                            catchPhrase
                            email
                            title
                            git
                            linkedin
                            city
                            profil {
                                url
                                alternativeText
                            }
                            jobs {
                                title
                                from
                                to
                                description
                                company {
                                    name
                                    logo {
                                        url
                                        alternativeText
                                    }
                                }
                            }
                            projects {
                                id
                                title
                                description
                                from
                                to
                                cover {
                                    url
                                    alternativeText
                                }
                                images {
                                    id
                                    url
                                    alternativeText
                                }
                                finished
                                team
                                companies {
                                    name
                                    logo {
                                        url
                                        alternativeText
                                    }
                                }
                                skills {
                                    name
                                    logo {
                                        url
                                        alternativeText
                                    }
                                    categories {
                                        name
                                    }
                                }
                            }
                            values {
                                name
                                icon
                            }
                            skills {
                                name
                                type {
                                    name
                                }
                                logo {
                                    url
                                    alternativeText
                                }
                                categories {
                                    name
                                }
                            }
                            academics {
                                degree
                                schoolName
                                from
                                to
                                schoolLogo {
                                    url
                                    alternativeText
                                }
                            }
                        }
                    }
                `,
                variables: {
                    name: 'guillaume'
                }
            })
        })
            .then(resp => resp.json())
            .then(json => {
                person.set(plainToClass(Person, json.data.people[0]))
            })
    }
</script>

<script lang="ts">
    import Nav from '../components/Nav.svelte'
    import Tailwind from '../components/Tailwind.svelte'
    export let segment
</script>

<svelte:head>
    <title>Guillaume - Dévelopeur Full Stack</title>
</svelte:head>

<div class="background" />
<header>
    <Nav {segment} />
</header>
<main>
    <slot />
</main>
<span class:bottomLine={segment !== undefined}>Fait avec ❤️ par Guillaume</span>
<Tailwind />

<style lang="postcss">
    .background {
        @apply bg-intro bg-no-repeat bg-contain absolute h-95 w-full -z-10;
    }

    span {
        @apply block w-screen text-center py-4;
    }

    .bottomLine {
        @apply absolute inset-x-0 bottom-0;
    }
</style>
