<script lang="ts">
    import Values from '../components/Values.svelte'
    import Intro from '../components/Intro.svelte'
    import Skills from '../components/Skills.svelte'
    import Experiences from '../components/Experiences.svelte'
    import Projects from '../components/Projects.svelte'
    import Contact from '../components/Contact.svelte'
</script>

<Intro />
<Values />
<Skills />
<Experiences />
<Projects />
<Contact />
