---
interface Props {
  href: string
  class?: string
}
const props = Astro.props
---

<a
  href={props.href}
  class={`flex w-fit gap-3 rounded border border-black px-6 py-2 justify-center ${props.class}`}
>
  <slot />
</a>
