---
interface Props {
  href: string | undefined
  class?: string
  disabled?: boolean
}
const props = Astro.props
---

{
  props.disabled ? (
    <button
      disabled
      class={`flex w-fit cursor-not-allowed justify-center gap-3 rounded border border-black px-3 py-3 opacity-60 ${props.class}`}
    >
      <slot />
    </button>
  ) : (
    <a
      href={props.href}
      class={`flex w-fit justify-center gap-3 rounded border border-black px-3 py-3 transition-transform duration-150 ease-in-out hover:scale-105 ${props.class}`}
    >
      <slot />
    </a>
  )
}
