<script context="module" lang="ts">
    export async function preload({ params }) {
        return { title: params.title }
    }
</script>

<script lang="ts">
    import { person } from 'lib/person'
    import {intervalToDuration} from 'date-fns'
    import type Skill from 'models/Skill';
    import type SkillCategory from 'models/values/SkillCategory';
    import Slider from '../../components/Slider.svelte';
    import { stores } from '@sapper/app'

    const { session } = stores()
    const {API_URL} = $session

    export let title: string
    let tags : string [] = []
    $: project = $person.projects.find(project => project.title === title)
    $: tags = project?.skills.reduce((previous: string[], current: Skill):string[] => {
        current.categories.forEach((category: SkillCategory): void => {
            if (!previous.includes(category.name)) {
                previous.push(category.name)
            }
        });
        return previous
    }, [])
    $: duration = project ? intervalToDuration({
                        start: project.from,
                        end: project.to
                    }):{}
</script>

<section id="project">
    <a href="/#projects" id="return">
        <svg
            width="8"
            height="14"
            viewBox="0 0 8 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M0.322078 8.0542L5.98208 13.7042C6.07504 13.7979 6.18564 13.8723 6.3075 13.9231C6.42936 13.9739 6.56007 14 6.69208 14C6.82409 14 6.9548 13.9739 7.07666 13.9231C7.19851 13.8723 7.30912 13.7979 7.40208 13.7042C7.58833 13.5168 7.69287 13.2634 7.69287 12.9992C7.69287 12.735 7.58833 12.4816 7.40208 12.2942L2.45208 7.2942L7.40208 2.3442C7.58833 2.15684 7.69287 1.90339 7.69287 1.6392C7.69287 1.37502 7.58833 1.12156 7.40208 0.934202C7.30946 0.839714 7.19902 0.764544 7.07714 0.713047C6.95527 0.661551 6.82438 0.634752 6.69208 0.634203C6.55977 0.634752 6.42889 0.661551 6.30701 0.713047C6.18514 0.764544 6.07469 0.839714 5.98208 0.934202L0.322078 6.5842C0.220573 6.67784 0.139565 6.7915 0.0841573 6.918C0.0287498 7.0445 0.000145316 7.1811 0.000145328 7.3192C0.00014534 7.4573 0.0287499 7.59391 0.0841574 7.72041C0.139565 7.84691 0.220573 7.96056 0.322078 8.0542Z"
                fill="black"
            />
        </svg>
        Retour à l'acceuil
    </a>
    <div class="slider">
        {#if project.images.length > 0}
            <Slider imgs={project.images} />
        {:else}
            <p>No images</p>
        {/if}
    </div>
    <div class="description">
        <h1>{project.title}</h1>
        <div class="subtitle">
            <div>
                <p>
                    Temps de réalisation : {duration.months &&
                        `${duration.months} mois`}
                    {duration.days && `${duration.days} jours`}
                </p>
                <p>
                    Equipe : {project.team === 0
                        ? 'Non'
                        : project.team > 1
                        ? `${project.team} personnes`
                        : '1 personne'}
                </p>
            </div>
            <div id="tags">
                {#each tags as tag}
                    <span>
                        {tag}
                    </span>
                {/each}
            </div>
        </div>
        <div id="description">
            {#each project.description.split('\n') as paragraphe}
                <p>{paragraphe}</p>
            {/each}
        </div>
        <div class="technos">
            <h2>Technologies utilisées</h2>
            <div>
                {#each project.skills as skill}
                    <span class="techno">
                        <img
                            src={skill.logo
                                ? `${API_URL}${skill.logo.url}`
                                : ''}
                            alt={skill.logo ? skill.logo.alternativeText : ''}
                        />
                        <p>{skill.name}</p>
                    </span>
                {/each}
            </div>
        </div>
    </div>
</section>

<style lang="postcss">
    #project {
        @apply container grid grid-cols-3 gap-y-8 gap-x-12;

        #return {
            @apply flex items-center text-p col-span-5;

            svg {
                @apply mr-4;
            }
        }

        .description {
            @apply col-span-2;

            h1 {
                @apply text-h2 font-bold text-orange mb-6;
            }

            .subtitle {
                @apply flex justify-between content-center mb-8;

                p {
                    @apply text-amphase font-bold text-blue-dark;
                }
                #tags {
                    @apply flex space-x-4 items-center;
                    span {
                        @apply text-amphase text-white font-bold uppercase p-3 bg-blue rounded flex-none;
                    }
                }
            }

            #description {
                @apply mb-8;
            }

            .technos {
                @apply flex flex-col items-center;

                h2 {
                    @apply text-h3 font-bold text-orange mb-6;
                }

                div {
                    @apply flex space-x-4;
                }

                .techno {
                    @apply rounded-full bg-beige p-2;

                    p {
                        @apply sr-only;
                    }

                    img {
                        @apply object-scale-down h-14 w-14;
                    }
                }
            }
        }
    }
</style>
