<script lang="ts">
    import { format as FORMAT } from 'date-fns'
    import fr from 'date-fns/locale/fr'
    export let date: Date
    export let format: string = 'MMM u'

    $: date = new Date(date)
</script>

{#if date.getFullYear() !== 1970}
    <p>{FORMAT(date, format, { locale: fr })}</p>
{:else}
    <p>Aujourd'hui</p>
{/if}
