<script lang="ts">
    import { person } from 'lib/person'
    import { afterUpdate } from 'svelte'
    import Card from './Card.svelte'
    import Date from './Date.svelte'
    import { stores } from '@sapper/app'

    const { session } = stores()
    const { API_URL } = $session

    const drawLinks = (): void => {
        let datesNode = document.querySelectorAll('.dote')
        const svgns = 'http://www.w3.org/2000/svg'

        for (let index = 0; index < datesNode.length - 1; index++) {
            const svgNode = document.getElementById('link-' + index)
            let line = document.createElementNS(svgns, 'line')

            line.setAttribute('x1', '10')
            line.setAttribute('y1', '-10')
            line.setAttribute('x2', '10')
            line.setAttribute(
                'y2',
                '' + (svgNode.getBoundingClientRect().height + 10)
            )
            line.setAttribute('stroke-width', '6')
            line.setAttribute('stroke', '#FFA432')

            svgNode.appendChild(line)
        }
        datesNode.forEach(node => {})
    }

    afterUpdate(() => drawLinks())
</script>

<section id="experiences">
    <div class="container">
        <h2>Expériences et études</h2>
        <div class="wrapper">
            {#each $person.jobs.sort((a, b) =>
                a.to ? (a.to < b.from ? 1 : -1) : -1
            ) as job, index}
                <div class="doteLine">
                    <svg id={`link-${index}`} class="link" />
                    <div class="dote" />
                </div>
                <span class="date"><Date date={job.to} format="u" /></span>
                <article class="job">
                    <Card>
                        <div class="card-body">
                            <div>
                                <img
                                    src={`${API_URL}${job.company.logo.url}`}
                                    alt={job.company.logo.alternativeText}
                                />
                                {job.company.name}
                            </div>
                            <div>
                                <h3>{job.title}</h3>
                                <span
                                    ><Date date={job.from} /> &emsp-&emsp <Date
                                        date={job.to}
                                    /></span
                                >
                                {#each job.description.split('\n') as desc}
                                    <p>{desc}</p>
                                {/each}
                            </div>
                        </div>
                    </Card>
                </article>
                {#if index === $person.jobs.length - 1}
                    <div class="dote last" />
                    <span class="date last"
                        ><Date date={job.from} format="u" /></span
                    >
                {/if}
            {/each}
        </div>
        <div class="academics">
            {#each $person.academics.reverse() as academic}
                <Card>
                    <div class="academic">
                        <img
                            src={`${API_URL}${academic.schoolLogo.url}`}
                            alt={academic.schoolLogo.alternativeText}
                        />
                        <h3>{academic.degree}</h3>
                        <span
                            ><Date date={academic.from} /> &emsp-&emsp <Date
                                date={academic.to}
                            /></span
                        >
                    </div>
                </Card>
            {/each}
        </div>
    </div>
</section>

<style lang="postcss">
    #experiences {
        @apply bg-beige-light py-16;

        h2 {
            @apply sr-only;
        }
        .wrapper {
            @apply grid gap-x-6;
            grid-template-columns: 20px 80px 1fr;

            .link {
                @apply overflow-visible h-full;
            }
            .doteLine {
                @apply flex flex-col-reverse place-self-start h-full;
            }
            .dote {
                @apply bg-blue-dark rounded-full;
                width: 20px;
                height: 20px;
            }

            .job:nth-last-of-type(1) {
                @apply row-span-2;
            }
            .job {
                @apply mb-6;

                .card-body {
                    @apply grid grid-cols-5;

                    div:nth-last-of-type(1) {
                        @apply col-span-4 grid gap-x-6;
                        grid-template-columns: 0.375rem 1fr;

                        &:before {
                            @apply bg-beige-light w-1.5 h-24 rounded-full row-span-3 place-self-center;
                            content: '';
                        }

                        h3 {
                            @apply text-h3 font-bold text-blue-dark;
                        }

                        span {
                            @apply flex mb-4;
                        }
                    }

                    div:nth-last-of-type(2) {
                        @apply place-self-center flex flex-col items-center text-amphase font-bold;
                    }
                    img {
                        @apply w-32 h-24 rounded object-cover;
                    }
                }
            }
        }
        .academics {
            @apply grid gap-x-12;
            grid-template-columns: 1fr 1fr;
            margin-left: calc(100px + 3rem);

            .academic:first-child {
                @apply col-start-2;
            }

            .academic {
                @apply grid grid-cols-2 gap-y-2 place-items-center;

                img {
                    @apply row-span-2 w-36 h-24 rounded object-scale-down;
                }

                h3 {
                    @apply text-amphase text-blue-dark font-bold self-end text-center;
                }

                span {
                    @apply flex justify-center self-start;
                }
            }
        }
    }
</style>
