<script lang="ts">
    import { person } from 'lib/person'
    import MPContainer from '../components/MouseParallax/Container.svelte'
</script>

<MPContainer>
    <section id="intro">
        <div>
            <h1>
                <span class="title">{$person.firstname}</span>
                <br />
                <span class="subtitle">{$person.title}</span>
            </h1>
            <p>{$person.catchPhrase}</p>
        </div>
        <span class="illustration">
            <svg viewBox="0 0 635.66 581.13">
                <filter id="no-blur">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="0" />
                </filter>
                <filter id="tiny-blur">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="1.5" />
                </filter>
                <filter id="large-blur">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="3" />
                </filter>
                <circle
                    r="11%"
                    cx="65%"
                    cy="100"
                    filter="url(#no-blur)"
                    class="small-polygon"
                    data-factor="0.01"
                />
                <circle
                    r="26%"
                    cx="75%"
                    cy="450"
                    filter="url(#large-blur)"
                    class="big-polygon"
                    data-factor="1"
                />
                <circle
                    r="17%"
                    cx="45%"
                    cy="300"
                    filter="url(#tiny-blur)"
                    class="medium-polygon"
                    data-factor="3"
                />
            </svg>
        </span>
    </section>
</MPContainer>

<style lang="postcss">
    #intro {
        @apply h-screen grid grid-cols-1 items-center text-center md:grid-cols-2 md:text-left container;

        .title {
            @apply text-h1 font-bold text-blue-dark capitalize;
        }

        .subtitle {
            @apply text-h1 font-bold text-orange capitalize;
        }

        p {
            @apply text-amphase font-bold mt-10;
        }
    }

    .illustration {
        @apply hidden h-full pt-24 pb-16 md:inline;
    }

    svg {
        @apply h-full w-full overflow-visible;
    }

    circle {
        @apply fill-current transition-all duration-200 ease-out;

        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.05);
    }

    .small-polygon {
        @apply text-blue;
    }

    .medium-polygon {
        @apply text-beige-light;
    }

    .big-polygon {
        @apply text-orange;
    }
</style>
