<script>
    import Logo from './Icon/Logo.svelte'

    export let segment
</script>

<div>
    <nav class:main={segment === undefined}>
        <a href="/">
            <Logo />
        </a>

        <ul>
            <li><a href="#skills">compétences</a></li>
            <li><a href="#experiences">expériences</a></li>
            <li><a href="#projects">projets</a></li>
            <li><a href="#contact" class="button">contact</a></li>
        </ul>
    </nav>
</div>

<style lang="postcss">
    div {
        @apply w-screen flex justify-center;
    }
    nav {
        @apply grid grid-cols-2 items-center py-4 container;
        &.main {
            @apply absolute;
        }

        span {
            @apply justify-self-start;
        }

        ul {
            @apply justify-self-end flex space-x-10 capitalize text-amphase font-bold;
        }
    }
    .button {
        @apply px-6 py-4 bg-orange text-white rounded;
    }
</style>
