<script lang="ts">
    import { person } from 'lib/person'
    import type Skill from 'models/Skill';
    import type SkillCategory from 'models/values/SkillCategory';
    import Icon from './Icon/Icon.svelte';
    
    $: categories = $person.skills.reduce((accu: any, current: Skill) => {
        accu = accu.map(category => {
            if (current.categories.some((value: SkillCategory): boolean =>category.name === value.name)) {
                if (category.name === 'front' || category.name === 'back')
                    category.types[current.type?.name]?.push(current)
                else
                    category.skills.push(current)
            }
            return category
        })
        return accu
    }, [
        {display: "Developpement front end", name: "front", types : {language: [], tool: []}},
        {display: "Developpement back end", name: "back", types :  {language: [], tool: []}},
        {display: "DevOps", name: "devops", skills : []},
        {display: "Design", name: "design", skills : []},
        {display: "Autres", name: "other", skills : []}
    ])
</script>

<section id="skills">
    <h2>Skills</h2>
    {#each categories as category}
        <div class={`card ${category.name}`}>
            <header>
                <i>
                    <Icon name={category.name} />
                </i>
                <h3>{category.display}</h3>
            </header>
            <div>
                {#if category.name === 'front' || category.name === 'back'}
                    <h4>Languages</h4>
                    <ul class="language">
                        {#each category.types.language as skill}
                            <li>{skill.name}</li>
                        {/each}
                    </ul>
                    <h4>Tools</h4>
                    <ul>
                        {#each category.types.tool as skill}
                            <li>{skill.name}</li>
                        {/each}
                    </ul>
                {:else}
                    <ul>
                        {#each category.skills as skill}
                            <li>{skill.name}</li>
                        {/each}
                    </ul>
                {/if}
            </div>
        </div>
    {:else}
        No Skills
    {/each}
</section>

<style lang="postcss">
    #skills {
        @apply grid md:grid-cols-6 gap-x-16 gap-y-10 px-8 container pb-16;

        h2 {
            @apply sr-only;
        }

        .card {
            @apply bg-white shadow rounded border border-beige-light py-6 px-2;
        }

        .devops,
        .design,
        .other {
            @apply col-span-3 md:col-span-2 flex flex-col items-center text-center capitalize;

            header {
                @apply grid grid-cols-2 justify-items-center gap-x-8;

                i {
                    @apply justify-self-end;
                }

                h3 {
                    @apply mt-3 text-h3 text-blue font-bold;
                }

                &::after {
                    @apply w-16 h-1 bg-beige-light rounded mb-3 mt-6 col-span-2;
                    content: '';
                }
            }

            ul {
                @apply mt-3;
            }

            li {
                @apply inline text-p;

                &:after {
                    content: ', ';
                }
                &:last-child:after {
                    content: '';
                }
            }
        }

        .front,
        .back {
            @apply col-span-3 flex flex-col items-center text-center capitalize;

            header {
                @apply flex flex-col items-center;

                h3 {
                    @apply mt-3 text-h2 text-orange font-bold;
                }

                &::after {
                    @apply w-24 h-1 bg-beige-light rounded mb-3 mt-6;
                    content: '';
                }
            }

            h4 {
                @apply text-amphase text-blue font-bold my-3;
            }

            .language > li {
                @apply inline text-p;

                &:after {
                    content: ', ';
                }
                &:last-child:after {
                    content: '';
                }
            }
        }
    }
</style>
