<script lang="ts">
    import { person } from 'lib/person'
    import Icon from './Icon/Icon.svelte'
</script>

<section id="values">
    <h2>Values</h2>

    {#each $person.values as value}
        <div class="value">
            <Icon name={value.name} />
            <p>{value.name}</p>
        </div>
    {/each}
</section>

<style lang="postcss">
    #values {
        @apply py-16 flex justify-between container;

        h2 {
            @apply sr-only;
        }

        .value {
            @apply grid grid-cols-1 justify-items-center;

            p {
                @apply text-h3 font-bold capitalize pt-2;
            }
        }
    }

    #values:after {
        @apply bg-beige-light h-96 w-full -z-10 absolute top-screen inset-x-0;

        content: '';
    }
</style>
